/* Style the entire page */
body {
    background-color: #4e2f00; /* default medium brown background */
    text-align: center;        /* Center all content */
    font-family: Arial, sans-serif;
}

/* Style the heading */
h1 {
    color: #ffffff; /* white colour*/
    text-wrap: wrap;
}

h2{
    text-wrap: wrap;
    margin-bottom: 30px;
}

/* Style the displayed image */
img {
    max-width: 300px; /* Limit image size */
    margin-top: 20px;
}

/* Style the button */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}